<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav opened mode="side">
    <div class="iconContainer">
      <mat-icon style="float: right;" *ngIf="sidenav.opened" (click)="sidenav.toggle()">toggle_on</mat-icon>
    </div>
    <div class="logo">
      <a class="simple-text logo-normal">
      COVID-19 Tracker
      </a>
      <mat-divider></mat-divider>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-icon *ngIf="!sidenav.opened" (click)="sidenav.toggle()">toggle_off</mat-icon>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>